PeachFarm/PeachFarm.Common/Messages.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Messages"
    targetNamespace="http://phed.org/2012/PeachFarm/Messages"
    elementFormDefault="qualified"
    xmlns="http://phed.org/2012/PeachFarm/Messages"
    xmlns:mstns="http://phed.org/2012/PeachFarm/Messages"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
	<xs:element name="ResponseBase" type="ResponseBase" />
	<xs:complexType name="ResponseBase">
		<xs:sequence>
			<xs:element name="ErrorMessage" type="xs:string" maxOccurs="1" minOccurs="1" />
		</xs:sequence>
		<xs:attribute name="Success" type="xs:boolean" default="true" />
	</xs:complexType>

	<xs:element name="CreateJobRequest" type="CreateJobRequest" />
	<xs:complexType name="CreateJobRequest">
		<xs:sequence>
			<xs:element name="ZipFile" type="xs:base64Binary" maxOccurs="1" minOccurs="1" />
		</xs:sequence>
		<xs:attribute name="ClientCount" type="xs:int" use="required" />
		<xs:attribute name="IPAddress" type="xs:string" use="required" />
		<xs:attribute name="PitFileName" type="xs:string" use="required" />
		<xs:attribute name="UserName" type="xs:string" use="required" />
		<xs:attribute name="Tags" type="xs:string" use="required" />
		<xs:attribute name="Target" type="xs:string" use="required" />
	</xs:complexType>

	<xs:element name="CreateJobResponse" type="CreateJobResponse" />
	<xs:complexType name="CreateJobResponse">
		<xs:complexContent>
			<xs:extension base="ResponseBase">
				<xs:attribute name="JobID" type="xs:string" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element name="StartPeachRequest" type="StartPeachRequest" />
  <xs:complexType name="StartPeachRequest">
		<!--
    <xs:sequence>
      <xs:element name="Pit" type="xs:string" maxOccurs="1" minOccurs="1" />
			<xs:element name="Defines" type="xs:string" maxOccurs="1" minOccurs="1" />
    </xs:sequence>
		-->
		<xs:attribute name="Seed" type="xs:unsignedInt" use="required" />
    <xs:attribute name="ClientCount" type="xs:int" use="required" />
    <xs:attribute name="IPAddress" type="xs:string" use="required" />
    <xs:attribute name="MongoDbConnectionString" type="xs:string" use="required" />
    <xs:attribute name="JobID" type="xs:string" use="required" />
    <xs:attribute name="PitFileName" type="xs:string" use="required" />
    <xs:attribute name="UserName" type="xs:string" use="required" />
    <xs:attribute name="Tags" type="xs:string" use="required" />
		<xs:attribute name="ZipFile" type="xs:string" use="required" />
		<xs:attribute name="HasDefines" type="xs:boolean" use="required" />
		<xs:attribute name="PitVersion" type="xs:string" use="required" />
		<xs:attribute name="Target" type="xs:string" use="required" />
  </xs:complexType>

  <xs:element name="StartPeachResponse" type="StartPeachResponse" />
  <xs:complexType name="StartPeachResponse">
		<xs:complexContent>
			<xs:extension base="ResponseBase">
				<xs:attribute name="JobID" type="xs:string" use="required" />
				<xs:attribute name="PitFileName" type="xs:string" use="required" />
				<xs:attribute name="UserName" type="xs:string" use="required" />
			</xs:extension>
		</xs:complexContent>
  </xs:complexType>
  
  <xs:element name="StopPeachRequest" type="StopPeachRequest" />
  <xs:complexType name="StopPeachRequest">
    <xs:attribute name="JobID" type="xs:string" use="required" />
    <xs:attribute name="PitFileName" type="xs:string" use="required" />
    <xs:attribute name="UserName" type="xs:string" use="required" />
  </xs:complexType>

  <xs:element name="StopPeachResponse" type="StartPeachResponse" />
  <xs:complexType name="StopPeachResponse">
		<xs:complexContent>
			<xs:extension base="ResponseBase">
				<xs:attribute name="JobID" type="xs:string" use="required" />
				<xs:attribute name="PitFileName" type="xs:string" use="required" />
				<xs:attribute name="UserName" type="xs:string" use="required" />
			</xs:extension>
		</xs:complexContent>
  </xs:complexType>

  <xs:element name="Heartbeat" type="Heartbeat" />
  <xs:complexType name="Heartbeat">
    <xs:sequence>
      <xs:element name="ErrorMessage" type="xs:string" maxOccurs="1" minOccurs="1" />
    </xs:sequence>
    <xs:attribute name="NodeName" type="xs:string" use="required" />
    <xs:attribute name="Stamp" type="xs:dateTime" use="required" />
    <xs:attribute name="Status" type="Status" use="required" />
    <xs:attribute name="QueueName" type="xs:string" use="required" />
		<xs:attribute name="Tags" type="xs:string" use="required" />
		<xs:attribute name="JobID" type="xs:string" use="required" />
		<xs:attribute name="PitFileName" type="xs:string" use="required" />
		<xs:attribute name="UserName" type="xs:string" use="required" />
		<xs:attribute name="Seed" type="xs:unsignedInt" use="required" />
		<xs:attribute name="Iteration" type="xs:unsignedInt" use="required" />
		<xs:attribute name="Version" type="xs:string" use="required" />
	</xs:complexType>

  <xs:simpleType name="Status">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Alive" />
      <xs:enumeration value="Running" />
      <xs:enumeration value="Stopping" />
      <xs:enumeration value="Late" />
      <xs:enumeration value="Error" />
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="ListNodesRequest" type="ListNodesRequest" />
	<xs:complexType name="ListNodesRequest" />

  <xs:element name="ListNodesResponse" type="ListNodesResponse" />
  <xs:complexType name="ListNodesResponse">
		<xs:complexContent>
			<xs:extension base="ResponseBase">
				<xs:sequence>
					<xs:element name="Nodes" maxOccurs="1" minOccurs="1">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Heartbeat" type="Heartbeat" minOccurs="0" maxOccurs="unbounded" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
  </xs:complexType>

  <xs:element name="ListErrorsRequest" type="ListErrorsRequest" />
	<xs:complexType name="ListErrorsRequest">
		<xs:attribute name="JobID" type="xs:string" use="required" />
	</xs:complexType>

  <xs:element name="ListErrorsResponse" type="ListErrorsResponse" />
  <xs:complexType name="ListErrorsResponse">
		<xs:complexContent>
			<xs:extension base="ResponseBase">
				<xs:sequence>
					<xs:element name="Errors" maxOccurs="1" minOccurs="1">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Heartbeat" type="Heartbeat" minOccurs="0" maxOccurs="unbounded" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
  </xs:complexType>

	<xs:element name="JobInfoRequest" type="JobInfoRequest" />
	<xs:complexType name="JobInfoRequest">
		<xs:attribute name="JobID" type="xs:string" use="required" />
	</xs:complexType>

	<xs:element name="JobInfoResponse" type="JobInfoResponse" />
	<xs:complexType name="JobInfoResponse">
		<xs:complexContent>
			<xs:extension base="ResponseBase">
				<xs:sequence>
					<xs:element name="Job" type="Job" maxOccurs="1" minOccurs="1"/>
					<xs:element name="Nodes" maxOccurs="1" minOccurs="1">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Heartbeat" type="Heartbeat" minOccurs="0" maxOccurs="unbounded" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="ListJobsRequest" type="ListJobsRequest" />
	<xs:complexType name="ListJobsRequest" />

	<xs:element name="ListJobsResponse" type="ListJobsResponse" />
	<xs:complexType name="ListJobsResponse">
		<xs:complexContent>
			<xs:extension base="ResponseBase">
				<xs:sequence>
					<xs:element name="ActiveJobs" maxOccurs="1" minOccurs="1">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Job" type="Job" maxOccurs="unbounded" minOccurs="1" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="InactiveJobs" maxOccurs="1" minOccurs="1">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Job" type="Job" maxOccurs="unbounded" minOccurs="1" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Jobs" maxOccurs="1" minOccurs="1">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Job" type="Job" maxOccurs="unbounded" minOccurs="1" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Count" type="xs:int" maxOccurs="1" minOccurs="1" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="MonitorRequest" type="MonitorRequest" />
	<xs:complexType name="MonitorRequest" />

	<xs:element name="MonitorResponse" type="MonitorResponse" />
	<xs:complexType name="MonitorResponse">
		<xs:complexContent>
			<xs:extension base="ResponseBase">
				<xs:sequence>
					<xs:element name="ActiveJobs" maxOccurs="1" minOccurs="1">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Job" type="Job" maxOccurs="unbounded" minOccurs="1" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="InactiveJobs" maxOccurs="1" minOccurs="1">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Job" type="Job" maxOccurs="unbounded" minOccurs="1" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Nodes" maxOccurs="1" minOccurs="1">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Heartbeat" type="Heartbeat" minOccurs="0" maxOccurs="unbounded" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Errors" maxOccurs="1" minOccurs="1">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Heartbeat" type="Heartbeat" minOccurs="0" maxOccurs="unbounded" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="MongoDbConnectionString" type="xs:string" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="GenerateFaultReportRequest" type="GenerateFaultReportRequest" />
	<xs:complexType name="GenerateFaultReportRequest">
		<xs:attribute name="JobID" type="xs:string" use="required" />
		<xs:attribute name="ReportFormat" type="ReportFormat" use="required" />
	</xs:complexType>

	<xs:element name="GenerateFaultReportResponse" type="GenerateFaultReportResponse" />
	<xs:complexType name="GenerateFaultReportResponse">
		<xs:complexContent>
			<xs:extension base="ResponseBase">
				<xs:attribute name="JobID" type="xs:string" use="required" />
				<xs:attribute name="Status" type="ReportGenerationStatus" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="GenerateMetricsReportRequest" type="GenerateMetricsReportRequest" />
	<xs:complexType name="GenerateMetricsReportRequest">
		<xs:attribute name="JobID" type="xs:string" use="required" />
		<xs:attribute name="Target" type="xs:string" use="required" />
		<xs:attribute name="ReportFormat" type="ReportFormat" use="required" />
	</xs:complexType>

	<xs:element name="GenerateMetricsReportResponse" type="GenerateMetricsReportResponse" />
	<xs:complexType name="GenerateMetricsReportResponse">
		<xs:complexContent>
			<xs:extension base="ResponseBase">
				<xs:attribute name="JobID" type="xs:string" use="required" />
				<xs:attribute name="Target" type="xs:string" use="required" />
				<xs:attribute name="Status" type="ReportGenerationStatus" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="Job">
		<xs:sequence>
			<xs:element name="Tags">
				<xs:simpleType>
					<xs:list itemType="xs:string" />
				</xs:simpleType>
			</xs:element>
			<xs:element name="Pit" type="Pit" maxOccurs="1" minOccurs="1" />
		</xs:sequence>
		<xs:attribute name="UserName" type="xs:string" use="required" />
		<xs:attribute name="JobID" type="xs:string" use="required" />
		<xs:attribute name="StartDate" type="xs:dateTime" use="required" />
		<xs:attribute name="PeachVersion" type="xs:string" use="required" />
	</xs:complexType>

	<xs:complexType name="Pit">
		<xs:sequence>
			<xs:element name="FullText" type="xs:string" maxOccurs="1" minOccurs="1" />
		</xs:sequence>
		<xs:attribute name="FileName" type="xs:string" use="required" />
		<xs:attribute name="Version" type="xs:string" use="required" />
	</xs:complexType>

	<xs:simpleType name="ReportFormat">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PDF" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ReportGenerationStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Generating" />
			<xs:enumeration value="Complete" />
			<xs:enumeration value="Error" />
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="JobProgressNotification" type="JobProgressNotification" />
	
	<xs:complexType name="JobProgressNotification">
		<xs:sequence>
			<xs:element name="IterationMetrics" maxOccurs="1" minOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="IterationMetric" type="IterationMetric" maxOccurs="unbounded" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FaultMetrics" maxOccurs="1" minOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FaultMetric" type="FaultMetric" maxOccurs="unbounded" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="JobID" type="xs:string" use="required" />
		<xs:attribute name="Target" type="xs:string" use="required" />
	</xs:complexType>

	<xs:complexType name="IterationMetric">
		<xs:attribute name="JobID" type="xs:string" use="required" />
		<xs:attribute name="Target" type="xs:string" use="required" />
		<xs:attribute name="State" type="xs:string" use="required" />
		<xs:attribute name="Action" type="xs:string" use="required" />
		<xs:attribute name="DataElement" type="xs:string" use="required" />
		<xs:attribute name="Mutator" type="xs:string" use="required" />
		<xs:attribute name="DataSet" type="xs:string" use="required" />
		<xs:attribute name="IterationCount" type="xs:unsignedInt" use="required" />
	</xs:complexType>

	<xs:complexType name="FaultMetric">
		<xs:attribute name="JobID" type="xs:string" use="required" />
		<xs:attribute name="Target" type="xs:string" use="required" />
		<xs:attribute name="Iteration" type="xs:unsignedInt" use="required" />
		<xs:attribute name="Bucket" type="xs:string" use="required" />
		<xs:attribute name="State" type="xs:string" use="required" />
		<xs:attribute name="Action" type="xs:string" use="required" />
		<xs:attribute name="DataElement" type="xs:string" use="required" />
		<xs:attribute name="Mutator" type="xs:string" use="required" />
		<xs:attribute name="DataSet" type="xs:string" use="required" />
	</xs:complexType>
</xs:schema>
